/presentation/slides.aux
/presentation/slides.log
/presentation/slides.nav
/presentation/slides.out
/presentation/slides.snm
/presentation/slides.synctex.gz
/presentation/slides.toc
build/*
dist/*
/program/build/
/program/dist/
